{% load static %}
{% include 'h.html' %}
<section class="vh-10" style="background-image: url('https://w0.peakpx.com/wallpaper/828/437/HD-wallpaper-raindrops-black-rain.jpg'); background-repeat:repeat;">
    <div class="containerr py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-12 mb-4 mb-lg-0" style="opacity: 90%;">
          <div class="card mb-3 w-auto h-auto" style="border-radius: .5rem;">
            <div class="row g-0">
              <div class="col-md-4 gradient-custom text-center text-white"
                style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                <div class="instagram-story-wrapper my-2">
                    <img src="{{ user.profile.profile_image.url }}" alt="" class="card-img">
                </div>
<style>
    .instagram-story-wrapper {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 50%;
    height: 110px;
    width: 110px;
    border: 4px solid #ffffff; /* Pink border color */
}

.instagram-story-wrapper img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    border-radius: 50%;
}

</style>                
                <h5 style="font-weight: bold; font-size: medium;">{{user.profile.firstname}} {{user.profile.lastname}}</h5>
                <p style="font-weight: bold;">{{user.username}}</p>
                <center>
                    <button onclick="openModal()">
                        <div class="svg-wrapper-1">
                            <div class="svg-wrapper">
                                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                    <g id="SVGRepo_iconCarrier">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M3.46447 3.46447C2 4.92893 2 7.28595 2 12C2 16.714 2 19.0711 3.46447 20.5355C4.92893 22 7.28595 22 12 22C16.714 22 19.0711 22 20.5355 20.5355C22 19.0711 22 16.714 22 12C22 7.28595 22 4.92893 20.5355 3.46447C19.0711 2 16.714 2 12 2C7.28595 2 4.92893 2 3.46447 3.46447ZM7.25 12C7.25 9.37665 9.37665 7.25 12 7.25C14.6234 7.25 16.75 9.37665 16.75 12C16.75 14.6234 14.6234 16.75 12 16.75C9.37665 16.75 7.25 14.6234 7.25 12ZM8.75 12C8.75 10.2051 10.2051 8.75 12 8.75C13.7949 8.75 15.25 10.2051 15.25 12C15.25 13.7949 13.7949 15.25 12 15.25C10.2051 15.25 8.75 13.7949 8.75 12Z" fill="#1C274C"></path>
                                    </g>
                                </svg>
                            </div>
                        </div>
                        <span style="font-weight: bold;">photo</span>
                    </button>
                </center>
                
                <!-- The Modal -->
                <div id="myModal" class="modal">
                    <form method="post" enctype="multipart/form-data" action="{% url 'update_profile_picture' %}">
                        {% csrf_token %}
                    <div class="modal-content">
                        <span class="close" onclick="closeModal()">&times;</span>
                        <input type="file"  name="profile_image" id="id_profile_image" accept="image/*" style="color: rgb(255, 255, 255); width: auto;">
                        <center>
                            <button type="submit" style="margin-top: 10px;">
                                <div class="svg-wrapper-1">
                                  <div class="svg-wrapper">
                                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M3.46447 3.46447C2 4.92893 2 7.28595 2 12C2 16.714 2 19.0711 3.46447 20.5355C4.92893 22 7.28595 22 12 22C16.714 22 19.0711 22 20.5355 20.5355C22 19.0711 22 16.714 22 12C22 7.28595 22 4.92893 20.5355 3.46447C19.0711 2 16.714 2 12 2C7.28595 2 4.92893 2 3.46447 3.46447ZM7.25 12C7.25 9.37665 9.37665 7.25 12 7.25C14.6234 7.25 16.75 9.37665 16.75 12C16.75 14.6234 14.6234 16.75 12 16.75C9.37665 16.75 7.25 14.6234 7.25 12ZM8.75 12C8.75 10.2051 10.2051 8.75 12 8.75C13.7949 8.75 15.25 10.2051 15.25 12C15.25 13.7949 13.7949 15.25 12 15.25C10.2051 15.25 8.75 13.7949 8.75 12Z" fill="#1C274C"></path> </g></svg>
                                  </div>
                                </div> 
                                <span style="font-weight: bold;">update</span>
                              </button>
                            </center>
                    </div>
                    
                    </form>
                </div>
<style>
    /* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* Close button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

</style>   
<script>
    // Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.querySelector("button");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
function openModal() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
function closeModal() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}

</script>             
                
                  <style>
                    button {
  font-family: inherit;
  font-size: 18px;
  background: linear-gradient(to bottom, #4dc7d9 0%,#66a6ff 100%);
  color: white;
  padding: 0.8em 1.2em;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: center;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
  height: 40px;
}

button:hover {
  transform: translateY(-3px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

button:active {
  transform: scale(0.95);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

button span {
  display: block;
  margin-left: 0.4em;
  transition: all 0.3s;
}

button svg {
  width: 18px;
  height: 18px;
  fill: white;
  transition: all 0.3s;
}

button .svg-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  margin-right: 0.5em;
  transition: all 0.3s;
}

button:hover .svg-wrapper {
  background-color: rgba(255, 255, 255, 0.5);
}

button:hover svg {
  transform: rotate(45deg);
}


                  </style>
              </div>
              <div class="col-md-8">
                <div class="card-body p-4">
                  <h6 style="font-size: medium; font-weight: bold;">Information</h6>
                  <hr class="mt-0 mb-4">
                  <div class="row pt-1">
                    <div class="col-6 mb-3">
                      <h6>Email</h6>
                      <p class="text-muted">{{user.email}}</p>
                    </div>
                    <div class="col-6 mb-3">
                      <h6>Phone</h6>
                      <p class="text-muted">{{user.profile.phone}}</p>
                    </div> 
                  </div>
                  <h6 style="font-size: medium; font-weight: bold;">Access</h6>
                  <hr class="mt-0 mb-4">
                  <div class="row pt-1">
                    <div class="col-6 mb-3">
                      <h6>Focus</h6>
                      <p class="text-muted">drought</p>
                    </div>
                    <div class="col-6 mb-3">
                      <h6>Most Viewed</h6>
                      <p class="text-muted">floods</p>
                    </div>
                  </div>
                  <div class="d-flex justify-content-start">
                    <a href="#!"><i class="fab fa-facebook-f fa-lg me-3"></i></a>
                    <a href="#!"><i class="fab fa-twitter fa-lg me-3"></i></a>
                    <a href="#!"><i class="fab fa-instagram fa-lg"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

            <style>
                .cardm {
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          top: 46.64%;
          left: 50%;
        }
        
        .card {
          position: absolute;
          width: 250px;
          height: 130px;
          border-radius: 25px;
          background: whitesmoke;
          color: black;
          z-index: 2;
          transition: .4s ease-in-out;
        }
        
        .weather {
          position: relative;
          margin: 1em;
        }
        
        .main {
          font-size: 2em;
          position: relative;
          top: -3em;
          left: 4.3em;
        }
        
        .mainsub {
          position: relative;
          top: -10.2em;
          left: 14em;
          font-size: 0.6em;
        }
        
        .card2 {
          position: absolute;
          display: flex;
          flex-direction: row;
          width: 240px;
          height: 130px;
          border-radius: 35px;
          background: white;
          z-index: -1;
          transition: .4s ease-in-out;
        }
        
        .card:hover {
          background-color: #FFE87C;
          cursor: pointer;
        }
        
        .card:hover + .card2 {
          height: 300px;
          border-bottom-left-radius: 0px;
          border-bottom-right-radius: 0px;
        }
        
        .card:hover + .card2 .lower {
          top: 20.2em;
        }
        
        .upper {
          display: flex;
          flex-direction: row;
          position: relative;
          color: black;
          left: 1.8em;
          top: 0.5em;
          gap: 4em;
        }
        
        .humiditytext {
          position: relative;
          left: 3.6em;
          top: 2.7em;
          font-size: 0.6em;
        }
        
        .airtext {
          position: relative;
          left: 3.8em;
          top: 2.7em;
          font-size: 0.6em;
        }
        
        .lower {
          display: flex;
          flex-direction: row;
          position: absolute;
          text-align: center;
          color: black;
          left: 3em;
          top: 1em;
          margin-top: 0.7em;
          font-size: 0.7em;
          transition: .4s ease-in-out;
        }
        
        .aqi {
          margin-right: 3.25em;
        }
        
        .realfeel {
          margin-right: 1.8em;
        }
        
        .card3 {
          position: absolute;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          width: 240px;
          height: 30px;
          top: 4.7em;
          left: -2.4em;
          font-size: 1.24em;
          border-bottom-left-radius: 35px;
          border-bottom-right-radius: 35px;
          background: limegreen;
          transition: .4s ease-in-out;
        }
        sectionn{
          display: flex;
          height: 100vh;
          width: 100%;
          align-items: center;
          justify-content: center;
          color: #96c7e8;
          font-size: 70px;
        }
        #Home{
          background: #fff;
        }
        #About{
          background: #f2f2f2;
        }
        #Category{
          background: #e6e6e6;
        }
        #Latest{
          background: #fff;
        }
        #Contact{
          background: #f2f2f2;
        }
        #Feedback{
          background: #e6e6e6;
        }
        .button a{
          position: fixed;
          bottom: 20px;
          right: 20px;
          color: #fff;
          background: #2980b9;
          padding: 7px 12px;;
          font-size: 18px;
          border-radius: 6px;
          box-shadow: rgba(0, 0, 0, 0.15);
        }
        .card {
          position: relative;
          background-color: #ffffff;
          padding: 0;
          z-index: 1;
          box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);
          border-radius: 10px;
          min-width: 480px;
          transition: 200ms ease-in-out;
        }
        
        .username {
          color: #C6E1ED;
          font-size: 0.85em;
          font-weight: 600;
        }
        
        
        
        .body .text {
          margin: 0 10px 0 0;
          white-space: pre-line;
          color: #c0c3d7;
          font-weight: 400;
          line-height: 1.5;
          margin-bottom: 4px;
        }
        
        .footer {
          position: relative;
          width: 100%;
          color: #9fa4aa;
          font-size: 12px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          border: none;
          margin-top: 10px;
        }
        
        .footer div {
          margin-right: 1rem;
          height: 20px;
          display: flex;
          align-items: center;
          cursor: pointer;
        }
        
        .footer svg {
          margin-right: 5px;
          height: 100%;
          stroke: #9fa4aa;
        }
        
        .viewer span {
          height: 20px;
          width: 20px;
          background-color: rgb(28, 117, 219);
          margin-right: -6px;
          border-radius: 50%;
          border: 1px solid #fff;
          display: grid;
          align-items: center;
          text-align: center;
          font-weight: bold;
          font-size: 8px;
          color: #fff;
          padding: 2px;
        }
        
        .viewer span svg {
          stroke: #fff;
        }
        
        
        
        
        
        
        .container {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        
        .radio-tile-group {
          display: flex;
          flex-wrap: wrap;
          
          justify-content: center;
        }
        
        .radio-tile-group .input-container {
          position: relative;
          height: 80px;
          width: 80px;
          margin: 0.5rem;
        
        }
        
        .radio-tile-group .input-container .radio-button {
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          margin: 0;
          cursor: pointer;
        }
        
        .radio-tile-group .input-container .radio-tile {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          border: 2px solid #079ad9;
          border-radius: 5px;
          padding: 1rem;
          transition: transform 300ms ease;
        }
        
        .radio-tile-group .input-container .icon svg {
          fill: #079ad9;
          width: 2rem;
          height: 2rem;
        }
        
        .radio-tile-group .input-container .radio-tile-label {
          text-align: center;
          font-size: 0.75rem;
          font-weight: 600;
          text-transform: uppercase;
          letter-spacing: 1px;
          color: #079ad9;
        }
        
        .radio-tile-group .input-container .radio-button:checked + .radio-tile {
          background-color: #079ad9;
          border: 2px solid #079ad9;
          color: white;
          transform: scale(1.1, 1.1);
        }
        
        .radio-tile-group .input-container .radio-button:checked + .radio-tile .icon svg {
          fill: white;
          background-color: #079ad9;
        }
        
        .radio-tile-group .input-container .radio-button:checked + .radio-tile .radio-tile-label {
          color: white;
          background-color: #079ad9;
        }
        .group {
  display: flex;
  line-height: 30px;
  align-items: center;
  position: relative;
  max-width: 200px;
}

.input {
  width: 100%;
  height: 45px;
  line-height: 30px;
  padding: 0 5rem;
  padding-left: 3rem;
  border: 2px solid transparent;
  border-radius: 10px;
  outline: none;
  background-color: #f8fafc;
  color: #0d0c22;
  transition: .5s ease;
}

.input::placeholder {
  color: #94a3b8;
}

.input:focus, input:hover {
  outline: none;
  border-color: rgba(129, 140, 248);
  background-color: #fff;
  box-shadow: 0 0 0 5px rgb(129 140 248 / 30%);
}

.icon {
  position: absolute;
  left: 1rem;
  fill: none;
  width: 1rem;
  height: 1rem;
}
        
        
        
              </style>
  </section>
 
  <div class="contacviner mx-3 my-3" style="opacity: 90%;">
    <div class="col-lg-12">
        <div class="card w-100" style="height: auto;">
            <div class="card-header">update information</div>
            <div class="card-body">
                <form method="post" action="{% url 'update_profile_data' %}" id="formz">
                    {% csrf_token %}
                    <div class="form-group">
                      <label for="id_firstname">First Name:</label>
                      <input type="text" name="firstname" id="id_firstname" value="{{ user.profile.firstname }}" required style="font-size: small;">
                    </div>
                    <div class="form-group">
                      <label for="id_lastname">Last Name:</label>
                      <input type="text" name="lastname" id="id_lastname" value="{{ user.profile.lastname }}" required style="font-size: small;">
                    </div>
                    <div class="form-group">
                      <label for="id_location">Location:</label>
                      <input type="text" name="location" id="id_location" value="{{ user.profile.location }}" required style="font-size: small;">
                    </div>
                    
                    <div class="form-group">
                      <label for="id_phone">Phone:</label>
                      <input type="text" name="phone" id="id_phone" value="{{ user.profile.phone }}" required style="font-size: small;">
                    </div>
                    <center>
                        <button type="submit" style="margin-top: 10px;">
                            <div class="svg-wrapper-1">
                              <div class="svg-wrapper">
                                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M3.46447 3.46447C2 4.92893 2 7.28595 2 12C2 16.714 2 19.0711 3.46447 20.5355C4.92893 22 7.28595 22 12 22C16.714 22 19.0711 22 20.5355 20.5355C22 19.0711 22 16.714 22 12C22 7.28595 22 4.92893 20.5355 3.46447C19.0711 2 16.714 2 12 2C7.28595 2 4.92893 2 3.46447 3.46447ZM7.25 12C7.25 9.37665 9.37665 7.25 12 7.25C14.6234 7.25 16.75 9.37665 16.75 12C16.75 14.6234 14.6234 16.75 12 16.75C9.37665 16.75 7.25 14.6234 7.25 12ZM8.75 12C8.75 10.2051 10.2051 8.75 12 8.75C13.7949 8.75 15.25 10.2051 15.25 12C15.25 13.7949 13.7949 15.25 12 15.25C10.2051 15.25 8.75 13.7949 8.75 12Z" fill="#1C274C"></path> </g></svg>
                              </div>
                            </div> 
                            <span style="font-weight: bold;">update</span>
                          </button>
                        </center>

                  </form>
            </div>
        </div>
    </div>
    <style>
        body{
            background-image: url('https://www.hdwallpapers.in/download/neon_cyclone-2560x1440.jpg');
        }

        #formz {
          min-width: 400px;
          margin: 0 auto;
        }
        .form {
          max-width: 100px;
          margin: 0 auto;
        }
        .form-group {
          margin-bottom: 15px;
        }
        label {
          display: block;
          font-weight: bold;
          font-size: medium;
        }
        input {
          width: 100%;
          padding: 8px;
          margin-top: 5px;
          box-sizing: border-box;
          color: rgb(255, 255, 255);
          background-color: #0d0c22;
          border-radius: 5px;
        }
        input:hover{
            background-color: #0d0c22;
        }
        button {
          background-color: #3498db;
          color: #fff;
          padding: 10px 15px;
          border: none;
          cursor: pointer;
        }
        button:hover {
          background-color: #2980b9;
        }
      </style>
  <style>
    .gradient-custom {
/* fallback for old browsers */
background: #000000;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
}
  </style>